@using eShop.ViewModels.Common;
@model  PagedResult<eShop.ViewModels.Systems.Users.UserViewModel>

@{
    ViewData["Title"] = "Danh sách khách hàng";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = null;
}

<div class="container-fluid">

    <!-- Page Heading -->
    <a class="mb-4">Tạo Mới</a>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Danh sách khách hàng</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Tên</th>
                            <th>Họ</th>
                            <th>Số Điện Thoại</th>
                            <th>Tên Người Dùng</th>
                            <th>Email</th>
                            <th>Thao tác</th>
                        </tr>
                    </thead>
                   
                    <tbody>
                        @foreach (var item in Model.Items)
                        {

                            if (item.UserName != "admin")
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.UserName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>
                                    <td class="text-center">
                                        <button class="btn btn-primary">@Html.ActionLink("Xem chi tiết", "Details", new { id = item.Id })</button>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
